In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel('/content/Book1 (1).xlsx')

In [3]:
df.head(6)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

In [4]:
#select the column am,gear,and carb
df_new = df.iloc[:, [9,10,11]]
df_new

    am  gear  carb
0    1     4     4
1    1     4     4
2    1     4     1
3    0     3     1
4    0     3     2
5    0     3     1
6    0     3     4
7    0     4     2
8    0     4     2
9    0     4     4
10   0     4     4
11   0     3     3
12   0     3     3
13   0     3     3
14   0     3     4
15   0     3     4
16   0     3     4
17   1     4     1
18   1     4     2
19   1     4     1
20   0     3     1
21   0     3     2
22   0     3     2
23   0     3     4
24   0     3     2
25   1     4     1
26   1     5     2
27   1     5     2
28   1     5     4
29   1     5     6
30   1     5     8
31   1     4     2

In [5]:
#mpg of hornet sprout
df_new = df.iloc[4, 1]
df_new

18.7

In [6]:
#creat anew column called performance which is calculated by hp/wt
performance = df["hp"]/df["wt"]
performance.head()

0    41.984733
1    38.260870
2    40.086207
3    34.214619
4    50.872093
dtype: float64

In [7]:
df_1 = pd.DataFrame(list(zip(performance)), columns = ["performance"]) 
print(df_1)

    performance
0     41.984733
1     38.260870
2     40.086207
3     34.214619
4     50.872093
5     30.346821
6     68.627451
7     19.435737
8     30.158730
9     35.755814
10    35.755814
11    44.226044
12    48.257373
13    47.619048
14    39.047619
15    39.638643
16    43.030870
17    30.000000
18    32.198142
19    35.422343
20    39.350913
21    42.613636
22    43.668122
23    63.802083
24    45.513654
25    34.108527
26    42.523364
27    74.686054
28    83.280757
29    63.176895
30    93.837535
31    39.208633

In [8]:
result = pd.concat([df, df_1], axis=1)

In [9]:
result.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,41.984733
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,38.260870
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,40.086207
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,34.214619
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,50.872093

**Part B**

In [10]:
def your_function():
    pass
print ("Hello name")

Hello name

In [11]:
def isPrime(x):

    x = int(x)
    for i in range(2, x):
        if(x % i == 0):
            x == False
        else:
            x == True

    return x
                
print(isPrime(input("Enter a prime number.")))

Enter a prime number.2
2

In [12]:
def sum (int): 
  x = int(input())
  y = int(input())
  z = int(input())
  sum = x+y+z
  if x/3:
    return 0
  if y/3:
    return 0
  if z/3:
    return 0
  print(int(input()))

Part - A

In [13]:
## Q1-- What is the two to the power of 5 ?
a = 2**5
print(a)

32

In [14]:
## Q2-- Create a vector in python with data points 23,27,25,47,67 ?

import numpy as np
list = [23,27,25,47,67]
vector = np.array(list)
print(vector)

[23 27 25 47 67]

In [15]:
list

[23, 27, 25, 47, 67]

In [16]:
## Q3 -- Assign the names to the above data points ?

a= {"Monday":23, "Tuesdau":27, "Wednesday":25, "Thrusday":47, "friday":67}

In [17]:
print(a["Monday"])

23

In [18]:
print(a)

{'Monday': 23, 'Tuesdau': 27, 'Wednesday': 25, 'Thrusday': 47, 'friday': 67}

In [19]:
## Q4 -- What is the avg of vectors in Q2 ?
import statistics
data1 = list
x = statistics.mean(data1)
print("Mean is :", x)

Mean is : 37.8

In [20]:
## Q5 -- Find the day when the value was highest ?

a= {"Monday":23, "Tuesdau":27, "Wednesday":25, "Thrusday":47, "friday":67}
max_value = max(zip(a.values(), a.keys()))[1]
print(max_value)

friday

In [21]:
## Second Approach ?

# Python code to find key with
# Maximum value in Dictionary

import operator
a= {"Monday":23, "Tuesdau":27, "Wednesday":25, "Thrusday":47, "friday":67}
max_value = max(a.items(), key = operator.itemgetter(1))[0]
print(max_value)

friday